<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="style/css" href="css/style.css">
		<title> Skimmit </title>
 	</head>
 	<body>
		<div class="title-section">
			<h1> Skimmit </h1>
		
			<embed src="images/image.png" width="70px" height="70px">


			<h2> Welcome to Skimmit. </h2>
			<h3> Skimmit helps you get your reading done when you're pressed for time. Here's how it works: copy and paste any text into the space below, and click "submit." </h3>
	 
  
      <p><%= @skimmit%></p>
      
      
		 
		</div>
 	</body>
</html>